<div class="page-header">
  <h2>
    All Meals
    <a href="/meals/new" class="btn btn-sm btn-success">Add a New Meal</a>
  </h2>
</div>

<div class="container">
  <div class="row">
    <% @meals.each do |meal| %>

    <div class="col-md-4">
      <div class="caption">
        <h4><%= meal.name %></h4>
        <p>
          <% favorite_count = 0 %>
          <% current_user.favorites.each do |favorite| %>
              <% if favorite.meal_id == meal.id %>
                  <a href="/delete_favorite/<%= favorite.id %>" class = "btn btn-sm" role="button"><i class="fa fa-heart" aria-hidden="true"></i> Remove from Favorites </a>
                  <% favorite_count = 1 %>
              <% end %>
          <% end %>
          <% if favorite_count == 0 %>
            <a href="/favorites/create/<%= meal.id %>" class = "btn btn-sm" role="button"><i class="fa fa-heart-o" aria-hidden="true"></i> Add to Favorites </a>
          <% end %>
          <a href="/" class = "btn btn-sm" role="button"><i class="fa fa-th-list" aria-hidden="true"></i> Add to Meal Plan </a>
        </div>

        <img src="<%= meal.image %>" align = "middle" alt="<%= meal.name %>" style="width:40%">

        <div class="caption">
          <a href="/meals/<%= meal.id %>" class="btn btn-xs btn-info" role="button" align="middle"> View</a>
          <% if meal.created_by == current_user.id %>
            <a href="/meals/<%= meal.id %>/edit" class="btn btn-danger btn-xs">Edit</a>
            <a href="/delete_meal/<%= meal.id %>" class="btn btn-warning btn-xs" rel="nofollow">Delete</a>
          <% end %>
        </div>
      </div>
<% end %>
    </div>

  </div>
